<!DOCTYPE html>
<html lang="en">
<head>
    <title>User DashBoard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/fullcalendar.css" />
    <link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/matrix-media.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/jquery.gritter.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
<!--Header-part-->
<div id="header">
    <h1>Dashboard</h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
                <li class="divider"></li>
                <li><a href="/signout"><i class="icon-key"></i> Log Out</a></li>
            </ul>
        </li>
        <li class=""><a title="" href="/signout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
    </ul>
</div>

<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
    <ul>
        <li ><a href="/userDashboard"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
        <li> <a href="/GoogleMapData"><i class="icon icon-signal"></i> <span>Sensor Data Visualization</span></a> </li>
        <li class="active"> <a href="/ManageSensor"><i class="icon icon-inbox"></i> <span>Manage Sensors</span></a> </li>
        <li> <a href="/ManageSensorHub"><i class="icon icon-inbox"></i> <span>Manage Sensor Hub</span></a> </li>
        <li><a href="/billing"><i class="icon icon-th"></i> <span>Billing</span></a></li>
    </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="/userDashboard" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    <div class="container-fluid">

        <!--End-Action boxes-->

        <div  class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lb"> <a href="/ManageSensor"> <i class="icon-inbox"></i> View Sensors </a> </li> &nbsp;&nbsp;
                <li class="bg_lg"> <a href="/addSensorUI"> <i class="icon-inbox"></i> Add a sensor</a> </li>

            </ul>


        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>Sensor Details</h5>
            <span class="label label-info">Added</span> </div>
        <div class="widget-content ">
            <table class="table table-bordered table-striped with-check">

                <thead>
                <tr>

                    <th>Sensor ID</th>
                    <th>Sensor Name</th>
                    <th>Sensor Type</th>
                    <th>Sensor Location</th>
                    <th>Sensor Hub</th>
                    <th>Sensor Status</th>
                    <th>Sensor Manage</th>

                </tr>
                </thead>
                <tbody>
                <% if(data.length == 0){ %>
                    <tr colspan="5">No Sensors Available </tr>
                <% } %>
                <% for(var i=0; i < data.length; i++) { %>
                <tr>

                    <td><%= data[i].Sensor_ID %></td>
                    <td><%= data[i].Sensor_name %></td>
                    <td><%= data[i].Sensor_type %></td>
                    <td><%= data[i].Sensor_Location %></td>
                    <td><%= data[i].hub_id %></td>
                    <td><%= data[i].Sensor_status %></td>
                    <td>
                            <form method="post">
                                <% var id = data[i].Sensor_ID %>
                             <input type="hidden"  value="<%=id %>" name="sensorid"></input>
                            <% if(data[i].Sensor_status === "Active" ) {%>
                        <input type="submit" class="btn btn-warning btn-mini" value="Stop" name="stop<%=data[i].Sensor_ID %>" formaction="/stopSensor"></input>
                            <% }%>
                        <input type="submit" class="btn btn-danger btn-mini" value="Terminate" name="terminate<%=data[i].Sensor_ID %>" formaction="/deleteSensor"></input>
                        <% if(data[i].Sensor_status === "In Active" ) {%>
                        <input type="submit" class="btn btn-success btn-mini" value="Start" name="hub<%=data[i].Sensor_ID %>" formaction="/startSensor"></input>
                            <% }%>
                            </form>

                    </td>
                </tr>
                <% } %>

                </tbody>
            </table>
        </div>
    </div>

</div>
<!--end-main-container-part-->





<!--Footer-part-->

<div class="row-fluid">
    <div id="footer" class="span12"> 2016 &copy; VTA Sensor Cloud </div>
</div>

<!--end-Footer-part-->

<script src="js/excanvas.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.ui.custom.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flot.min.js"></script>
<script src="js/jquery.flot.resize.min.js"></script>
<script src="js/jquery.peity.min.js"></script>
<script src="js/fullcalendar.min.js"></script>
<script src="js/matrix.js"></script>
<script src="js/matrix.dashboard.js"></script>
<script src="js/jquery.gritter.min.js"></script>
<script src="js/matrix.interface.js"></script>
<script src="js/matrix.chat.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/matrix.form_validation.js"></script>
<script src="js/jquery.wizard.js"></script>
<script src="js/jquery.uniform.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/matrix.popover.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/matrix.tables.js"></script>

<script type="text/javascript">


    function goPage (newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-" ) {
                resetMenu();
            }
            // else, send page to designated URL
            else {
                document.location.href = newURL;
            }
        }
    }


    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }
</script>
</body>
</html>
